.message, .other_message{
  background-color: var(--secondary);
  padding: 7px;
  max-width: 400px;
  border-radius: .3rem;
  margin-top: .4rem;
  font-size: .8rem;
  color: white;
  position: relative;
}

.message{
  align-self: flex-end;
  margin-right: .5rem;
}

.other_message{
  align-self: flex-start;
  margin-left: .5rem;
}

.message > span,
.other_message > span{
  background-color: var(--secondary);
  position: absolute;
  display: block;
  width: 70px;
  height: 50px;
  top: 0;
  border-radius: 1px;
}

.message > span{
  clip-path: polygon(100% 0, 100% 3%, 88% 19%, 88% 0);
  right: -4px;
}
.other_message > span{
  clip-path: polygon(0 0, 0 3%, 12% 19%, 12% 0);
  left: -4px;
}

.text{
  width: 100%;
  display: flex;
}

.text > p{
  margin-right: .3rem;
}

.text > span {
  font-size: 9px;
  font-weight: 500;
  align-self: flex-end;
  color: red;
  position: relative;
  bottom: 0px;
  right: 0px;
}
