
.form {
  bottom: 0;
  width: 100%;
  position: absolute;
}

.form > div{
  margin: .8rem;
  display: flex;
}

.form > div > input{
  width: 80%;
  padding: .4rem .7rem;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: 1px solid var(--primary);
  color: var(--secondary);
  font-weight: 500;
}

.form > div > button{
  width: 25%;
  padding: .4rem;
  border-radius: 0 10px 10px 0;
  color: var(--light);
  border: 2px solid transparent;
  background-color: var(--primary);
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease;
}

.form > div > button:hover{
  background-color: #007bce;
}

@media (min-width: 426px) {
  .form > div > button{
    width: 20%;
  }
}