.container{
  width: 90%;
  min-width: 350px;
  height: 600px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--light);
  border-radius: 1rem;
  padding: 2rem;
}

.form_container{
  width: 100%;
  /* width: 67%; */
  height: 375px;
  border: 2px solid #09f;
  border-radius: .8rem;
  position: relative;
  margin-top: 1rem;
}

.form_container > div {
  height: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 10px;
}

.form_container > div::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

.form_container > div::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.form_container > div::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}

@media (min-width: 800px) {
  .container{
    width: 800px;
    height: 480px;    
    display: flex;
    justify-content: space-between;
  }

  .form_container{
    width: 495px;
    margin-top: 0;
    height: auto;
  }

  .form_container > div {
    height: 360px;
  }
}

/* @media (min-width: 450px) {
  .container{
    width: 800px;
    height: 480px;
  }
} */
